#landing_container {
  display: flex;
  max-height: 100vh;
  min-height: 100vh;
}
#logo {
  color: white;
  flex: auto;
  width: 50%;
  background: #53C5B9;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  padding: 4rem 10rem;
}
#logo_img, .logo_text {
  text-align: center;
  flex: 1 1 100%;
}
#logo_img img {
  color: white;
  width: 100%;
  height: auto;
}
#fhalf {
  background: #3C3E52;
  flex: auto;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 10rem;
}
.f_ind {
  color: white;
  display: inline-block;
}
.f_ind_active {
  border-bottom: 1px solid #53C5B9;
}
#forms a {
  margin: 0 1rem;
}
#forms button {
  margin: 0 5rem;
}



#side-bar {
  top:0;
  left: 0;
  position: fixed;
  width: 10%;
  display: flex;
  height: 100vh;
  flex-flow: column wrap;
  background:#3C3E52;
}
#side-bar, .menu_item a {
  color: white;
}
#logo_sidenav {
  flex: 2;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
#menusa {
  flex: 5;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.menusa_item {
  margin: .5rem 0;
}
#user_ack {
  flex: 2;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.card-image .activator {
  min-height: 55vh;
  max-height: 55vh;
}
#logout {
  margin-top: 2rem;
}

a {
  cursor: pointer;
}
#player {
  width: 100%;
  height: 100vh;
}
#player video{
  padding: 0;
  width: 100%;
  min-height: 99vh;
  max-height: 99vh;
  background: black;
}